/* Style the list */
.breadcrumbs{
    width: 100%;
}
.top-b{
    background-color: #001e42;
}
ul.breadcrumbs {
    padding: 10px 16px;
    list-style: none;
    color: white;
}

/* Display list items side by side */
ul.breadcrumbs li {
    display: inline;
    font-size: 18px;
}
/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumbs li+li:before {
    padding: 8px;
    color: white;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumbs li a {
    color: white;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumbs li a:hover {
    color: white;
    text-decoration: underline;
}

