.page{

	width: 960px;
	margin: 0px auto;
}
.list-of-posts{
	min-height: 500px;	

}
.pagination li{
	list-style: none;
	float: left;
	width: 20px ;
	height: 20px;
	border: 1px solid white;
	background-color: blue;
	color:white;
	text-align: center ;
	cursor: pointer;
}
.pagination li:hover{
	background-color: white ;
	border:1px solid black;
	color:black;
}
.pagination ul{
	border: 0px;
	padding: 0px;
}

.active-class{
	background-color: white !important ;
	border:1px solid black !important;
	color:black !important;
}