/*GLOBAL DECLARATIONS*/
html,body,h1,h2,h4,h3,h5 {
	font-family: "Segoe UI",Arial,sans-serif;
}

body{
	padding: 0px;
	margin: 0px;
	z-index: 0;
	background-color: #f8f8f8;
/*	(0, 30, 66, 0.85)*/
}

a{
	text-decoration: none;
}

.highlight{
	color: rgb(255, 152, 0);
	font-size: 60px;
}

.title {
	color: rgb(255, 152, 0);
}

/*END*/

/*TOPBAR*/

#topbar{
	margin-top: -20px;
	position: fixed;
	width: 100%;
	height: 54px;
	transition: 0.5s;
	z-index: 100;
	font-size: 16px;
	box-shadow: 0px 3px 0px 0px #003471;
	background-color: #001e42;
}

#topbar ul{
	text-align: center;
}

#topbar ul li{
	color: white;
	list-style-type: none;
	display: inline-block;
}

#topbar ul li a{
	padding-bottom: 8px;
	-webkit-transition: .5s ease-out;
	-moz-transition: .5s ease-out;
	-o-transition: .5s ease-out;
	transition: .5s ease-out;
}

#topbar ul li a:active, #topbar ul li a:hover{
	color: rgb(255, 152, 0);
	border-bottom: 3px solid rgb(255, 152, 0);
}

#dropdown{
	margin-top: 8px;
	min-width: 110px;
}

/*END*/

/*MAIN*/

.topic{
	border-bottom: 5px solid rgb(255, 152, 0);
}

.topic header{ 
	min-height: 350px;
	box-shadow: 0px 0px 20px 15px rgba(64,64,64,0.3);
}

.topic header h1{
	margin-top: 50px;
	margin-left: 100px;
	color: white;
}

.topic #search-logo{
	width: 29px;
	background-color: white;
}

.topic #search-btn, #search-logo{
	float: right;
	margin-top: 120px;
	border-radius: 5px;
}

#aro_logo{
	margin-left: 10px;
	margin-top: 50px;
	margin-right: 20px;
	width: 100px;
	float: left;
}

/*END*/

/*MIDDLE*/

.main{
	margin-left: 5%;
	margin-right: 5%;
	background-color: #f8f8f8;
}

@keyframes middle{
	0% { left: 0%; }
	10%{ left: 0%; }
	12%{ left: -100%; }
	22%{ left: -100%; }
	24%{ left: -200%; }
	34%{ left: -200%; }
	36%{ left: -300%; }
	46%{ left: -300; }
	58%{ left: -400%; }
	60%{ left: -300%; }
	70%{ left: -300%; }
	72%{ left: -200%; }
	82%{ left: -200%; }
	84%{ left: -100%; }
	94%{ left: -100%; }
	96%{ left: 0%; }
}
#middle{
	margin-top: -150px;
	position: relative;
	width: 100%;
	overflow: hidden;
	background-color: #003471;
}

#middle h1{
	font-size: 25px;
	color: white;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	padding: 10px;
	margin-top: 30%;
	background-color: #001e42;
	opacity: 0.9;
	text-align: center;
	position: absolute;
}
/*#middle hr{
	margin-top: -5px;
	margin-bottom: -1px;
	background-image: url('../img/colors.png');
	height: 15px;
}*/

#middle .slides{
	width: 20%;
	float: left;
}

#middle .slides p{
	font-size: 30px;
	float: right;
	color: white;
	margin-right: 5%;
	max-width: 250px;
}

#middle figure img{
	max-height: 500px;
}

#middle figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	animation: 30s middle infinite;
	height: auto;
	display: block;
	overflow: visible;
}

.slides{
	display: inline-block;
}

.slides p{
	padding: 10px;
	border: 2px solid #fff;
	border-radius: 5px;
	max-height:500px;
	color:#CCCCCC;
	text-transform:uppercase;
	font-size:15px;
}

/*END*/

/*ABOUT*/

#abt-img1{
	width: 45%;
	margin-left: 7%;
	margin-top: -20px;
	opacity: 0.7;
    -webkit-clip-path: polygon(0 0, 100% 11%, 100% 44%, 0 62%);
	clip-path: polygon(0 0, 100% 11%, 100% 44%, 0 62%);
	-webkit-transition: .5s ease-out;
	-moz-transition: .5s ease-out;
	-o-transition: .5s ease-out;
	transition: .5s ease-out;
}

#abt-img2{
	width: 45%;
	margin-left: 7%;
	margin-top: -350px;
	opacity: 0.7;
    -webkit-clip-path: polygon(0 25%, 100% 0%, 100% 86%, 0 78%);
	clip-path: polygon(0 25%, 100% 0%, 100% 86%, 0 78%);
	-webkit-transition: .5s ease-out;
	-moz-transition: .5s ease-out;
	-o-transition: .5s ease-out;
	transition: .5s ease-out;
}

#about img:hover{
	box-shadow: 0px 0px 20px 10px rgba(65,65,65,0.99);
	opacity: 1;
}

.abt_content{
	margin-bottom: 100px;
	min-height: 200px;
	width: 45%;
	float: right;
	margin-top: -650px;
	margin-right: 5%;
	padding: 50px;
	box-shadow: -5px 5px 10px 0px rgba(65,65,65,0.99);
}

/*END*/

/*THE STORIES*/

.image{
	border-radius: 50%;
	width: 150px;
	height: 140px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image:hover{
	transition: .5s ease-out;
	width: 160px;
	height: 150px;
	box-shadow: 0px 0px 25px 10px rgba(65,65,65,0.99);
}

.story{
	min-height: 200px;
	/*box-shadow: 0px 0px 25px 10px rgba(65,65,65,0.99);*/
}

button{
	margin-top: 20px;
}

.blu-btn{
	background-color: #001e42;
	float: right;
	margin-right: 35%;
	margin-top: 20px;
	margin-bottom: -10px;
	-webkit-transition: .7s ease-out;
	-moz-transition: .7s ease-out;
	-o-transition: .7s ease-out;
	transition: .7s ease-out;
}

/*END*/

/*SHOP*/

.shop{
	
}

.shop h1{
	padding: 100px;
	background-color: #f8f8f8;
	width: 60%;
}

.shop img{
	width: 100%;
	border-radius: 10%;
	box-shadow: 0px 0px 20px 10px rgba(65,65,65,0.3);
}

#shop_img{
	margin-left: 5%;
	float: left;
	width: 600px;
	max-width: 500px;
	max-height: 500px;
	position:relative;
}

/*END*/

/*UNIT/COLLEGES*/

#college{
	float: right;
	margin-top: -650px;
	margin-right: 5%;

}

.unit{
	margin-top: -15px;
	margin-bottom: -15px;
	margin-left: 20%;
	width: 100%;
	height: 60px;
	background-color: #f8f8f8;
	background-repeat: no-repeat;
	-webkit-transition: .5s ease-out;
	-moz-transition: .5s ease-out;
	-o-transition: .5s ease-out;
	transition: .5s ease-out;
}

.unit h4{
	font-size: 15px;
	text-align: left;
}

.unit:hover{
	box-shadow: 0px 0px 10px 0px rgba(65,65,65,0.60);
	color: rgb(255, 152, 0);
}

.college-div{
	margin-left: 130px;
}

/*END*/

/*FOOTER*/

footer{
	margin-top: 200px;
	background-color: #001e42;
	height: 75px;
	border-top: 5px solid rgb(255, 152, 0);
}

footer h5{
	color: white;
}

#bot{
	margin-top: 30px;
}

#bot a{
	margin-top: -50px;
	float: right;
	margin-right: 5%;
}

#bot a:hover{
	color: black;
	background-color: white;
	transition: 0.8s;
}

.foot{
	font-size: 15px;
	margin-left: 20px;
}

/*END*/

/*RESPONSIVENESS*/
@media (max-width: 768px){
	#topbar{
		height: 250px;
	}
	.topic header img{
		display: none;
	}
	.topic header h1{
		margin-top: 200px;
		margin-left: 0px;
		margin-bottom: 100px;
	}
	.slides{
		text-align: center;
	}
	.slides p{
		min-height: 400px;
		text-align: center;
		font-size: 10px;
	}
	.slides img{
		display: none;
	}
	#middle h1{
		margin-top: 380px;
		font-size: 15px;
	}
	#middle .highlight{
		font-size: 30px;
	}
	.shop{
		margin-left: 20px;
	}
	.shop h1{
		margin-left: -80px;
		text-align: center;
	}
	#shop_img{
		width: 250px;
	}
	#big{
		font-size: 12px;
	}
	.abt_content{
		width: 100%;
		padding: 20px;
		margin-top: 50px;
		color: white;
		box-shadow: 0px 0px 0px 0px;
	}
	#about{
		margin-left: 50px;
	}
	#abt-img1{
		margin-top: 10px;
		height: 300px;
		width: 250px;
		margin: 0;
		margin-bottom: -150px;
	}
	#abt-img2{
		height: 300px;
		width: 250px;
		margin: 0;
		
	}
	#college{
		margin-top: 50px;
	}
	.college-div{
		margin-left: 0px;
	}
	.unit{
		margin-top: -20px;
		width:90%;
		margin-left: 10%;
	}
	#stories{
		margin-bottom: 100px;
	}
	footer{
		margin-top:900px;
	}
}
/*END */