button {
	outline: none !important;
}

#left-side, #right-side {
	height: -webkit-calc(100% - 36px);
	height: -moz-calc(100% - 36px);
	height: calc(100% - 36px);
	overflow-y: auto;
	padding: 10px;
	float: left;
}

#left-side {
	width: -webkit-calc(100% - 400px);
	width: -moz-calc(100% - 400px);
	width: calc(100% - 400px);
}

#right-side {
	width: 400px;
	float: right;
}

.options { margin: 10px 0px; }

#row-select-btn.active {
	background-color: #CE93D8;
	color: white;
	text-align: center;
	width: 155px;
}

caption {
	padding: 10px;
}

.table-wrapper { width: 100%; }

tr, th, #new-admin-btn, #new-admin-btn .glyphicon {
	-webkit-transition: 0.1s linear;
	-moz-transition: 0.1s linear;
	-o-transition: 0.1s linear;
	transition: 0.1s linear;
}

th:hover { cursor: pointer; }

th, td { text-align: center; }

table .glyphicon {
	position: relative;
	left: 10px;
	font-size: 10px;
}

/* #active-admins caption { text-align: center; } */

#new-admin-btn {
	float: right;
}

#new-admin-btn:hover {
	background-color: #5cb85c;
	border: 1px solid #5cb85c;
}

#new-admin-btn:hover, #new-admin-btn:hover .glyphicon { color: white; }

#new-admin-btn .glyphicon { color: #777; }

#filter-container { padding: 10px 0px 0px 0px; }

tr.active td {
	background-color: #CE93D8 !important;
}

#row-options-panel, #user-info-panel {
	display: none;
	overflow: hidden;
	-webkit-transition: 1s linear;
	-moz-transition: 1s linear;
	-o-transition: 1s linear;
	transition: 1s linear;
}

#row-options-panel {
	border: none;
	padding: 10px 0px;
}

#user-info-panel {
	border: 1px solid #ccc;
}

#profile-img {
	border-radius: 50%;
	display: block;
	margin: 10px auto;
	width: 100px;
	height: 100px;
}

#name {
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-size: 22px;
}

#college {
	display: block;
	text-align: center;
	font-size: 15px;
}

#basic-stat {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}

#basic-stat > div {
	display: inline-block;
	width: 49%;
}

.stat-label {
	font-size: 15px;
}

#story-count, #view-count {
	font-size: 35px;
}

#profile-link {
	text-align: center;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

#row-options-panel .caption, #user-info-panel .caption { color: #777; }

#user-info-panel .caption {
	display: block;
	margin-bottom: 15px;
}

#active-admins {}

@media only screen and (max-width: 767px) {
	#left-side, #right-side {
		width: 100%;
		float: none;
	}
	#left-side { margin-top: 15px; }
}