body {
	margin: 0px;
	padding: 0px;
	min-width: 380px;
	overflow: auto;
}

#content-body {
/* 	padding: 0px;
	margin: 0px; */
}

label {
	margin: 0px;
	padding: 0px;
}

#options {
	background-color: #eee;
}

.option-item {
	float: right;
	display: inline-block;
	margin: 10px;
}

.switch {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 50px;
	height: 26px;
	margin-left: 10px;
}

.switch input {display:none;}

.slider {
/* 	box-shadow: 0px 0px 17px rgba(33, 150, 243, 0.57); */
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	background-color: white;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -moz-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
	border-radius: 24px;
}

.slider.round:before {
	border-radius: 50%;
}

#stories-wrapper {
	padding: 0px;
	margin: 0px;
	z-index: -1;
}

.story {
	border: 1px solid #eee;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

	-webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	-moz-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	-o-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.story:hover {
 	-webkit-box-shadow: 0 4px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
	-moz-box-shadow: 0 4px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
	box-shadow: 0 4px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.story-id {
	display: none;
}

.story-options-container {
	text-align: right;
}

.story-options-container > .glyphicon {
	visibility: hidden;
	margin: 0px 5px;

	-webkit-transtion: 0.5s ease-in;
	-moz-transtion: 0.5s ease-in;
	-o-transtion: 0.5s ease-in;
	transtion: 0.5s ease-in;
}

.story:hover .glyphicon {
	visibility: visible;
}

.story-title {
	padding: 0px 10px 5px 10px;
	font-family: 'Merriweather', serif;
	font-size: 21px;
	font-weight: 400;
	color: #333;
}

.story-date {
	padding: 0px 10px;
	font-size: 12px;
}

hr {
	margin: 10px 0px 0px 0px;
}

.story-content {
	font-family: 'Merriweather', serif;
	overflow: auto;
}

.hide-content {
	max-height: 0px;
	overflow: hidden;

	-webkit-transition: 0.5s cubic-bezier(.08,.64,.18,1.04);
	-moz-transition: 0.5s cubic-bezier(.08,.64,.18,1.04);
	-o-transition: 0.5s cubic-bezier(.08,.64,.18,1.04);
	transition: 0.5s cubic-bezier(.08,.64,.18,1.04);
}

.show-content {
	padding-top: 10px;
	max-height: 260px;

	-webkit-transition: 0.5s cubic-bezier(.14,.56,.29,.76);
	-moz-transition: 0.5s cubic-bezier(.14,.56,.29,.76);
	-o-transition: 0.5s cubic-bezier(.14,.56,.29,.76);
	transition: 0.5s cubic-bezier(.14,.56,.29,.76);
}

@media only screen and (max-width: 767.5px) {
	.switch {
		width: 55px;
		height: 30px;
	}

	.slider:before {
		height: 30px;
		width: 30px;
	}

	.navbar-toggle {
		padding: 14px;
	}
}

@media only screen and (max-width: 394px) {
	.option-item {
		float: none;
		display: inline-block;
	}
}