.modal-title { text-align: center; }

button { outline: none !important; }

#left-side, #right-side {
	height: -webkit-calc(100% - 36px);
	height: -moz-calc(100% - 36px);
	height: calc(100% - 36px);
/* 	overflow-y: auto; */
	padding: 10px;
	float: left;
}

#left-side {
	width: -webkit-calc(100% - 300px);
	width: -moz-calc(100% - 300px);
	width: calc(100% - 300px);
}

#right-side {
	width: 300px;
	float: right;
}

.options { margin: 10px 0px; }

#row-select-btn.active {
	background-color: #42A5F5;
	border: none;
	width: 156px;
	color: white;
	text-align: center;
}

caption {
	padding: 10px 10px 10px 0px;
}

.table-wrapper { width: 100%; }

tr, th, #new-admin-btn, #new-admin-btn .glyphicon {
	-webkit-transition: 0.1s linear;
	-moz-transition: 0.1s linear;
	-o-transition: 0.1s linear;
	transition: 0.1s linear;
}

th:hover { cursor: pointer; }

#active-users th,
#admins-table th,
#admins-table td { text-align: center; }

table .glyphicon {
	position: relative;
	left: 10px;
	font-size: 10px;
}

#new-admin-btn {
	float: right;
}

#new-admin-btn:hover {
	background-color: #66BB6A;
	border: 1px solid #66BB6A;
}

#new-admin-btn:hover, #new-admin-btn:hover .glyphicon { color: white; }

#new-admin-btn .glyphicon { color: #777; }

#filter-container { padding: 10px 0px 0px 0px; }

tr.active td { background-color: #BBDEFB !important; }

#row-options-panel, #user-info-panel {
	display: none;
	overflow: hidden;
	-webkit-transition: 1s linear;
	-moz-transition: 1s linear;
	-o-transition: 1s linear;
	transition: 1s linear;
}

#row-options-panel {
	border: none;
	padding: 10px 0px;
}

#user-info-panel {
	border: 1px solid #ccc;
}

#profile-img {
	border-radius: 50%;
	display: block;
	margin: 10px auto;
	width: 90px;
	height: 90px;
}

#name {
	text-align: center;
	font-family: "Quicksand", sans-serif;
	font-size: 22px;
}

#college {
	display: block;
	text-align: center;
	font-size: 15px;
}

#basic-stat {
	width: 100%;
	margin-top: 30px;
	text-align: center;
}

#basic-stat > div {
	display: inline-block;
	width: 49%;
}

.stat-label {
	font-size: 15px;
}

#story-count, #view-count {
	font-size: 35px;
}

#profile-link {
	text-align: center;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

#row-options-panel .caption, #user-info-panel .caption { color: #777; }

#user-info-panel .caption {
	display: block;
	margin-bottom: 15px;
}

#view-options-body {
	padding: 0px 20px;
}

.view-options-group { margin-top: 20px; }

.view-options-group > div { margin: 5px 0px; }

.view-options-group input { margin-right: 10px; }

.view-options-group label { font-weight: 100; }

.view-options-group::after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

#view-options-body span { font-size: 18px; }

.view-checkbox {
	float: left;
	display: inline-block;
	width: 50%;
}

#active-users {
	border: 1px solid #aaa;
}

@media only screen and (max-width: 767px) {
	#left-side, #right-side {
		width: 100%;
		float: none;
	}
	#left-side { margin-top: 15px; }
}