#title {
	display: block;
	text-align: center;
	padding-top: 10px;
	margin-top: 10px;
	font-size: 30px;
	font-family: 'Merriweather', serif;
	font-weight: lighter;
}

#options {
	margin: 10px 0px;
	text-align: center;
}

#options > button {
	display: inline;
	margin: 0px 20px;
	width: 100px;
}

#contact-container {
	margin: 20px;
}

.CodeMirror {
	height: 100%;
}