body {
	margin: 0px;
	padding: 0px;
	min-width: 380px;
	overflow: auto;
}

#no-stories-backdrop {
	font-size: 20px;
	margin: 30px;
	text-align: center;
	display: none;
}

#no-stories-backdrop > img {
	display: block;
	margin: 0px auto;
	width: 200px;
	height: auto;
}

#no-stories-backdrop > a:hover {
	cursor: pointer;
}

#no-stories-backdrop label {
	margin-top: 20px;
}

#no-stories-backdrop .glyphicon {
	margin-left: 10px;
}

#no-stories-backdrop h5 {
	margin: 0px;
	display: inline-block;
}

label {
	margin: 0px;
	padding: 0px;
}

#options {
	height: 50px;
	background-color: #eee;
}

.option-item {
	float: right;
	display: inline-block;
	margin: 10px;
}

#stories-wrapper {	
	padding: 0px;
	margin: 10px;
	/* Won't work in < IE10 */
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	-webkit-column-width: 360px;
	-moz-column-width: 360px;
	column-width: 360px;
}

.story {
	border: 1px solid #ccc;
	margin: 5px 0px;
	padding: 10px;
	display: inline-block;
	width: 100%;
	max-height: 300px;
	overflow: hidden;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

.overflown {
   background: linear-gradient(to top, #ccc 0px, #fff 20px, #fff 100%);
}

.story:hover {
	cursor: pointer;
}

.story-header {
	text-align: center;
}

.story-id {
	display: none;
}

.story-options-container {
	text-align: right;
}

.story-options-container > .glyphicon {
	visibility: hidden;
	margin: 0px 5px;
}

.story:hover .glyphicon {
	visibility: visible;
}

.story-title {
	padding: 0px 10px 5px 10px;
	font-family: 'Merriweather', serif;
	font-size: 21px;
	font-weight: 400;
	color: #333;
}

.story-date {
	padding: 0px 10px;
	font-size: 12px;
}

.story > hr {
	margin: 10px 0px;
}

.story-content {
	font-family: 'Merriweather', serif;
	text-align: left;
}

#edit-story-link:hover {
	color: green;
}

#delete-story-link:hover {
	color: red;
}

#story-stat-link {
	float: left;
	cursor: pointer;
}

#story-stat-link > .glyphicon {
	margin-right: 10px;
}

@media only screen and (max-width: 767px) {
	.story-options-container > .glyphicon {
		visibility: visible;
	}
}