body {
	margin: 0px;
	padding: 0px;
	min-width: 380px;
	overflow: auto;
}

#no-events-backdrop {
	font-size: 20px;
	margin: 30px;
	text-align: center;
	display: none;
}

#no-events-backdrop > img {
	display: block;
	margin: 0px auto;
	width: 200px;
	height: auto;
}

#no-events-backdrop > a:hover {
	cursor: pointer;
}

#no-events-backdrop label {
	margin-top: 20px;
}

#no-events-backdrop .glyphicon {
	margin-left: 10px;
}

#no-events-backdrop h5 {
	margin: 0px;
	display: inline-block;
}

label {
	margin: 0px;
	padding: 0px;
}

#options {
	height: 50px;
	background-color: #eee;
}

.option-item {
	float: right;
	display: inline-block;
	margin: 10px;
}

#events-wrapper {	
	padding: 0px;
	margin: 10px;
	/* Won't work in < IE10 */
	-webkit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
	-webkit-column-width: 360px;
	-moz-column-width: 360px;
	column-width: 360px;
}

.event {
	border: 1px solid #ccc;
	margin: 5px 0px;
	padding: 10px;
	display: inline-block;
	width: 100%;
	max-height: 300px;
	overflow: hidden;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

.overflown {
   background: linear-gradient(to top, #ccc 0px, #fff 20px, #fff 100%);
}

#content-event-view:hover {
	cursor: pointer;
}

.event-header {
	text-align: center;
}

.event-id {
	display: none;
}

.event-options-container {
	text-align: right;
}

.event-options-container > .glyphicon {
	visibility: hidden;
	margin: 0px 5px;

	-webkit-transtion: 0.5s ease-in;
	-moz-transtion: 0.5s ease-in;
	-o-transtion: 0.5s ease-in;
	transtion: 0.5s ease-in;
}

.event:hover .glyphicon {
	visibility: visible;
}

.event-title {
	padding: 0px 10px 5px 10px;
	font-family: 'Merriweather', serif;
	font-size: 21px;
	font-weight: 400;
	color: #333;
}

.event-date {
	padding: 0px 10px;
	font-size: 12px;
}

.event > hr {
	margin: 10px 0px;
}

.event-content {
	font-family: 'Merriweather', serif;
	text-align: left;
}

#edit-event-link:hover {
	color: green;
}

#delete-event-link:hover {
	color: red;
}

/* .modal-body, .modal-footer {
	background-color:white !important;
} */

@media only screen and (max-width: 767px) {
	.event-options-container > .glyphicon {
		visibility: visible;
	}
}