#expanded-story-title {
	text-align: center;
	font-size: 25px;
	font-family: 'Merriweather', serif;
	padding: 20px 20px 0px 20px;
}

#expanded-story-date {
	text-align: center;
}

#expanded-story-body {
	padding: 10px;
}

#expanded-story .modal-header .container-fluid {
	text-align: center;	
}

#expanded-story .modal-header .container-fluid .glyphicon {
	margin: 0px 10px;
}

#expanded-story .modal-header .container-fluid a {
	cursor: pointer;
}

#edit-story:hover {
	color: green;
}

#delete-story:hover {
	color: red;
}