#organization-name {
	/* add style */
}

#organization-name:hover {
	color: #8c9595;
}

#topbar {
/* 	background-color:#001e42;
	color: #eee; */
	margin: 0px;
	padding: 0px;

	-webkit-user-select: none; /* Chrome, Opera, Safari */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

@media only screen and (max-width: 768px) {
	.navbar-brand { height: 60px; }
	#navbar-content > li > a { height: 60px; }
	#organization-name { line-height: 30px; }
}